<!DOCTYPE html>
<html>
    <head>
        <title>
            SUPER SHOPPER
        </title>
    </head>
<body>
    <h1>We are the super shoppers!</h1>
    <h1>What Would You Like to Buy?</h1>
      <form action="/result/", method="POST">

        <label>
        Products:
        <span class="custom-dropdown custom-dropdown--white">
            <select class="custom-dropdown__select custom-dropdown__select--white" name = "prod">
                <option value="bugspray"> Bug Spray</option>
                <option value="bottle"> Bottle</option>
                <option value="camera"> Camera</option>
                <option value="flashlight"> Flashlight</option>
                <option value="gloves"> Gloves</option>
                <option value="phone"> Phone</option>
                <option value="suitcase"> Suitcase</option>
                <option value="tents"> Tents</option>
            </select>
          </span>
          <br>
          How soon will you be buying it:<br>
          <input type="text" name="timeWindow"><br>
          Where You buying?:<br>
          <input type="text" name="where"><br>
          <input type="submit" value="Submit">
      </form>

</label>
</body>
</html>
